.item-list-detail {
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffffc1, #ece9e6cf);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    backdrop-filter: blur(3px);
}

.card-detail--focus {
    margin: 0 auto;
    color: #fff;
    min-height: 400px;
    width: 500px;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    background: #000000;
    background: var(--bg-cards);
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}

.card-detail--focus img {
    aspect-ratio: 1.2;
    object-fit: cover;
}