.btn-info-container {
    background: #000000;
    background: var(--bg-cards);
}

.btn-info {
    background-color: var(--color-primary);
    color: #fff;
    font-weight: 500;
    padding: 6px 20px;
    border-radius: 30px;
    scale: .8;
}

.btn-info:active {
    scale: .7;
    background-color: var(--color-primary-a);
    transition: background-color .1s;
}

.btn-info:hover {
    background-color: var(--color-primary-h);
    transition: background-color .3s;
}
