.itemcount_container {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.itemcount_btn {
    font-family: 'poppins';
    font-weight:500;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--color-primary);
    scale: 1.1;
    margin: .7rem;
}

.itemcount_btn:hover {
    background-color: var(--color-primary-h);
    transition: background-color .3s;
}

.itemcount_btn:active {
    scale: .9;
    background-color: var(--color-primary-a);
    transition: background-color .1s;

}

.agregar-cart {
    color: #fff;
    font-weight: bold;
    line-height: 2.5;
    height: 100%;
    width: 100%;
    background-color: var(--color-primary);
}

.agregar-cart:hover{
    background-color: var(--color-primary-h);
    transition: background-color .3s;
}

.agregar-cart:active{
    background-color: var(--color-primary-a);
    transition: background-color .1s;
}

